header {
  min-height: 70px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
header .logo {
  flex: 1;
}
header a {
  text-transform: uppercase;
  color: #555;
}
header ul li {
  display: inline-block;
  padding: 0 20px;
  opacity: 0.7;
}
header ul li:hover {
  opacity: 1;
}
.menu {
  display: none;
}
.cart-icon {
  margin-right: 20px;
  position: relative;
}
.cart-icon span {
  background-color: crimson;
  border-radius: 20px;
  color: white;
  position: absolute;
  padding: 5px 7px;
  top: -10px;
  right: -10px;
}
